body{
  background-image: url(bckg.jpg);
  background-size: cover;
  font-weight: bold;
}

.gallery-wrapper {
  margin: 0 auto;
  width: 75%;
  display: flex;
  overflow: hidden;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(33.33% * 8); /* Общая ширина контейнера, 8 изображений */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.pager {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.gallery-images img {
  width: 33.33%; /* Показывать 3 изображения на десктопе */
  height: auto;
  flex-shrink: 0; /* Принудительно не уменьшать ширину изображений */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.active {
  background-color: #717171;
}
